In [1]:
import pandas as pd

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [7]:
#read tables into list
tables = pd.read_html(url)

In [9]:
#reading first table from list into dataframe
df = tables[0]

In [10]:
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [13]:
#Replacing Not assigned values as empty ones
import numpy as np
from numpy import nan
df['Borough'] = df['Borough'].replace(['Not assigned'], nan)

In [14]:
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A               NaN               Not assigned
1         M2A               NaN               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [15]:
#dropping empty rows
df.dropna(how='any', inplace=True)

In [16]:
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [18]:
df.shape

(103, 3)

In [19]:
df.reset_index(inplace=True)

In [20]:
df.head()

,index,Postal Code,Borough,Neighbourhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

In [21]:
df.drop(columns='index', inplace=True)

In [22]:
df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [55]:
#combining rows
df = df.groupby('Postal Code').agg(lambda x: ','.join(set(x)))

In [58]:
df.shape

(103, 2)

In [59]:
df.head()

                 Borough                           Neighbourhood
Postal Code
M1B          Scarborough                          Malvern, Rouge
M1C          Scarborough  Rouge Hill, Port Union, Highland Creek
M1E          Scarborough       Guildwood, Morningside, West Hill
M1G          Scarborough                                  Woburn
M1H          Scarborough                               Cedarbrae

In [63]:
coordinates = pd.read_csv('Geospatial_Coordinates.csv')

In [64]:
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [65]:
#merging two sets
df2 = pd.merge(df, coordinates, left_on=['Postal Code'], right_on=['Postal Code'])

In [66]:
df2.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [70]:
#renaming columns
df2.rename(columns={'Postal Code':'PostalCode'}, inplace=True)

In [71]:
df2.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476